@import "../valo/valo";

@font-face {
    font-family: 'Vaadin-Icons';
    src: url('fonts/Vaadin-Icons.eot');
    src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
         url('fonts/Vaadin-Icons.woff') format('woff'),
         url('fonts/Vaadin-Icons.ttf') format('truetype'),
         url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
    }
    
@mixin mytheme{
    @include valo;
     
    *{
        font-family: Ubuntu;
    }
    
    .grid, .gridExamsUsers, .gridPastExams{
        color: rgb(34,53,76);
        
    }
    .addExamgrid{
        height: 409px !important;
        width: 100% !important;
    }
    
    .v-grid-header{
        font-weight: bold;
    }

    div.v-slot.v-slot-grid{
        height: 100% !important;
        width: 100% !important;
    }
    
    div.v-grid.v-widget.grid.v-grid-grid{
        position: absolute;
        width: 100% !important;
        height: 100% !important;
    }
   
    .eUsersPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 6%;
        margin-top: 2%;
        width: 32% !important;
        height: 40%;
    }
    
    .aciklananSinavlarPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 3%;
        margin-top: 3%;
        width: 25% !important;
        height: 500px;
    }
    
    .pastExams{
        border: 1px solid rgb(34,53,76);
        margin-left: 4%;
        margin-top: 2%;
        width: 53% !important;
        height: 40%;
    }
    
    .icon {
        margin-right: 2%;
        font-family: Vaadin-Icons;
        font-size: 16px;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        font-style: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .vlayout{
      
       //width: 100% !important;
       height: 100% !important;
    }
    
    .eklemeLayout{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 180% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
     
    .bSinavlarLayout{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .bSinavlarLayout2{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 115% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .bSinavlarLayout3{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 125% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .bSinavlarLayout4{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 135% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .bSinavlarLayout5{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 145% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bSinavlarLayout6{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 155% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bSinavlarLayout7{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 165% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bSinavlarLayout8{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 175% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bSinavlarLayout9{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 185% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bSinavlarLayout10{
        margin-left: 0% !important;
        background: url("images/resim2.jpg") no-repeat fixed;
        position: absolute;
        width: 100% !important;
        height: 195% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .loginLayout{
       position: absolute;
       height: 100% !important;
       width: 100% !important;
       //background-color: red;
    }
    
    .loginComu{
        position:absolute;
        font-weight: bold;
        color: white;
        width: 100%;
        height: 8% !important;
        background-color: rgb(34,53,76);
        margin-top: 1%;
    }
    
    .loginVertical{
        overflow-x: hidden;
    }
    
    .comu{
        margin-left: 47%;
        margin-top: 1%;
    }
    
    .loginLabel{
        text-align: center;
        margin-top: 1%;
        height: 8%;
        //margin-left: 1% !important;
    }
    
    .loginPanel{
        margin-top: 10%;
        margin-left: 35%;
        width: 40% !important;
        height: 20% !important;
        div.v-panel-captionwrap{
            background-color: rgb(34,53,76);
        }
    }
    
    .loginVerticalLabel{
        color: white;
        font-weight: bold;
        border-radius: 4px;
        padding: 3%;
        background-color: rgb(34,53,76);
        //height: 30% !important;
        width: 80% !important;
    }
    
    .TCLabel, .parolaLabel{
        margin-top: 50%;
        margin-left: 80%;
/*        margin-top: 160%;
        margin-left: 30%;*/
        //width: 120%;
        //height: 35px;
        //background-color: rgb(34,53,76);
    }
    
    .inputPanel{
        border-color: rgb(34,53,76);
        width: 80% !important;
        padding-top: 3% !important;
    }
    
    .loginButton{
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 7%;
        margin-left: 28%;
        width: 40%;
        color: white;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
        background-image: none;
    }
    
/*    @media only screen and (min-width:400px) and (max-width:2000px)
    {
        
        .tc, .parola{

            width: 130%;
            &:focus{
               border-color: transparent;
               box-shadow: 0px 0px 10px 1px rgba(34,53,76,1) !important;
               outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);
            }
            &:hover
            {
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(34,53,76) !important;
            }
        }
    }*/
    
/*    &[width-range~="0-2000px"] 
    {
            .tc, .parola{

                width: 130%;
                &:focus{
                   border-color: transparent;
                   box-shadow: 0px 0px 10px 1px rgba(34,53,76,1) !important;
                   outline:none !important;
                    border-radius: 63px 63px 63px 63px;
                    @include transition(border-radius 3s .2s, color 2s);
                }
                &:hover
                {
                    border-color:transparent;
                    box-shadow: 0px 0px 10px 1px rgb(34,53,76) !important;
                }
            }
        }
    
    */
    
    
    .tc, .parola{
        
        width: 90%;
        &:focus{
           border-color: transparent;
           box-shadow: 0px 0px 10px 1px rgba(34,53,76,1) !important;
           outline:none !important;
            border-radius: 63px 63px 63px 63px;
            @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(34,53,76) !important;
        }
    }
    
    
/*    .v-scrollable
    {
           overflow-y: auto;
           overflow-x: auto;
            
    }
    
    
    .v-scrollable > .v-widget
    {
        vertical-align: middle;
        overflow-y: auto;
        overflow-x: auto;
        overflow:auto;
    }
    
    
   .v-window-contents > .v-scrollable {
        position: relative;
        overflow: hidden;
    }*/
    
    .addExamsPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 6%;
        margin-top: 3%;
        width: 89% !important;
        height: 42%;
    }
    
    .ReferencedExamsPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 3.5%;
        margin-top: 3%;
        width: 65% !important;
        height: 500px;
    }
    
    .v-panel-caption{
        text-align:center;
        padding: 1%;
        color: rgb(34,53,76);
        font-weight: bold;  
    }
    
    .yeniSinav{
        width: 100%;
        color: white;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
        background-image: none;
    }
    
    .v-button
    {
        &:hover{
            background-color: rgb(102,0,51);
            //border-color: rgb(102,0,51);
            border-color:none;
            outline: none;
            transition: 1.5s;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px transparent;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 0 0 1px transparent;
        }
    }
   
    
    .x-grid3-row-alt{background-color:#fafafa;} 
    
    .v-window-header{
        font-weight: bold;
        color: rgb(34,53,76);
        font-style: oblique;
        margin-bottom: 3%;
    }
    
    .v-captiontext{
        margin-top: 3%;
        margin-left: 5%;
        color: rgb(34,53,76);
    }
    
     .bolum 
    {
        margin-left: 5%;
        border-color: rgb(34,53,76) !important;
        height: 35px !important;
        width: 260px !important;
        
         .v-filterselect-input 
        {
            
             border-color: rgb(34,53,76);
             &:hover
            {

                //background-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                //outline:none !important;
                // -webkit-appearance:none;

            }
            
             &:focus{


                border-color: transparent !important;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);    


            }

        }
        
    }
        
       
    .basvuruBaslama{
        margin-left: 5% !important;
        width: 260px !important;

        .v-datefield-textfield 
        {
            border-color: rgb(34,53,76);
            &:focus
                {
                border-color: transparent;
                box-shadow: 0px 0px 10px 1px rgb(205,92,92) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);
            }
            &:hover {
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(205,92,92) !important;
            }
        }
    }
    
    .basvuruBitis{
        margin-left: 5% !important;
        width: 260px !important;

        .v-datefield-textfield 
        {
            border-color: rgb(34,53,76);
            &:focus
                {
                border-color: transparent;
                box-shadow: 0px 0px 10px 1px rgb(47,79,79) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);
            }
            &:hover {
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(47,79,79) !important;
            }
        }
    }
    
    .sinavTarih
    {
        margin-left: 5% !important;
        width: 260px !important;

        .v-datefield-textfield 
        {

            border-color: rgb(34,53,76);
            &:focus
                {


                border-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);

                box-shadow: 0px 0px 10px 1px #8E44AD !important;
                outline:none !important;
                // -webkit-appearance:none;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);
            }
            &:hover {
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(142,68,173) !important;
            }
        }

    }


    .sinavAdi 
    {
        margin-left: 5%;
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px rgba(242,184,109,1) !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(240,173,78) !important;
        }
    }
    
    .sinavBelge
    {
        margin-left: 5%;
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px rgba(128,128,0,1) !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(128,128,0) !important;
        }
    }
        
    .sinavOgretmeni
    {
        margin-left: 5%;
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {

            border-color: transparent;
            //#B1B1B1;
            //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);

            box-shadow: 0px 0px 10px 1px rgba(81,173,159,1) !important;
            outline:none !important;
            // -webkit-appearance:none;
            border-radius: 63px 63px 63px 63px;
            @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(26,188,156) !important;
        }
    }
    
    .butonBelgeEkle{
        margin-top: 80% !important;
        margin-left: 25%;
        border: none;
        border-color: none;
        width: 20%;
        height: 32px;
        background-color: none;
        background-image: url("images/addD.png");
        &:hover{
            background-color: white !important;
            border-color:none;
            outline: none;
            transition: 1.5s;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            //box-shadow: 0 0 1px transparent;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    .butonBelgeAc{
        border: none;
        border-color: none;
        width: 20%;
        height: 32px;
        background-color: none;
        background-image: url("images/see.png");
        &:hover{
            background-color: white !important;
            border-color:none;
            outline: none;
            transition: 1.5s;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            //box-shadow: 0 0 1px transparent;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    .butonBilgiEkle{
        margin-top: 80% !important;
        margin-left: 25%;
        border: none;
        border-color: none;
        width: 20%;
        height: 32px;
        background-color: none;
        background-image: url("images/addIn.png");
        &:hover{
            background-color: white !important;
            border-color:none;
            outline: none;
            transition: 1.5s;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            //box-shadow: 0 0 1px transparent;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    .sinavBilgi
    {
        margin-left: 5%;
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {

            border-color: transparent;
            //#B1B1B1;
            //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);

            box-shadow: 0px 0px 10px 1px rgba(0,128,128,1) !important;
            outline:none !important;
            // -webkit-appearance:none;
            border-radius: 63px 63px 63px 63px;
            @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(0,128,128) !important;
        }
    }
    
    .sinavTuru
    {
        margin-left: 5%;       
        height: 35px !important;
        width: 260px !important;
         
         .v-filterselect-input 
        {
            
             border-color: rgb(34,53,76);
             &:hover
            {

                //background-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(92,184,92) !important;
                //outline:none !important;
                // -webkit-appearance:none;

            }
            
             &:focus{


                border-color: transparent !important;
                box-shadow: 0px 0px 10px 1px rgb(92,184,92) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);    


            }

        }
        
    }
    
    .derslikAdi 
    {
        margin-left: 5%;
        border-color: rgb(255,160,122);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px rgba(255,160,122,1) !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(255,160,122) !important;
        }
    }
    
    .derslikKontenjan 
    {
        margin-left: 5%;
        border-color: rgb(32,178,170);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px rgba(32,178,170,1) !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(32,178,170) !important;
        }
    }
    div.v-caption.v-caption-sinavSaati{
        margin-left: 5% !important;
        margin-top: 4% !important;
    }
    
    .sinavSaati
    {
        margin-left: 10%;
        border-color: rgb(34,53,76) !important;
        height: 35px !important;
        width: 93% !important;
        
         .v-filterselect-input 
        {
            
             border-color: rgb(34,53,76);
             &:hover
            {

                //background-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                //outline:none !important;
                // -webkit-appearance:none;

            }
            
             &:focus{


                border-color: transparent !important;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);    


            }

        }
    }
    
    
    div.v-slot.v-slot-sinavSaati{
        width: 50% !important;
    }
    
    div.v-slot.v-slot-ikinokta{
        margin-top: 16% !important;
        margin-left: 8% !important;
    }
    
    .ikinokta{
        font-weight: bold;
        margin-left: 0% !important;
    }
    
    div.v-slot.v-slot-sinavDak{
        margin-top: 14.5%;
    }   
    
    
    .sinavDak
    {
        margin-left: 7%;
        border-color: rgb(34,53,76) !important;
        height: 35px !important;
        width: 50% !important;
        
         .v-filterselect-input 
        {
            
             border-color: rgb(34,53,76);
             &:hover
            {

                //background-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                //outline:none !important;
                // -webkit-appearance:none;

            }
            
             &:focus{


                border-color: transparent !important;
                box-shadow: 0px 0px 10px 1px rgb(217,83,79) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);    


            }

        }
    }
    
    .primary{
        color: white;
        background-color: rgb(34,53,76);
        border-color: rgb(34,53,76) !important;
        background-image: none;
        margin-left: 27%;
        margin-top: 5%;
        margin-bottom: 3%;
    }
   
    .label1, .label2, .label3, .label15, .label4, .label6, .label13, .label14, .label9, .label10, .label11, .label12, .lDerslikAdi, .lDerslikKontenjan, .lBasvuruBaslama, .lBasvuruBitis, .label11{
        margin-top: 39px;
        margin-left: 50px;
    }
    
    .stil
    {
        margin-top: 39px;
        margin-left: 50px;
    }
    
    .snvGrd
    {
        margin-left: 5%;
        width: 200px !important;
        height: 200px !important;
        font-weight: bold;
        
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(26,188,156) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(26,188,156);
            background-image: none;
            background-color: rgb(26,188,156) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(26,188,156);
            color: white !important;
        }
        
    }
    
    .label41, .label42, .label43, .label45, .label46, .label48, .label47, .label44, .label49, .label40, .label50{
        margin-top: 72px;
        margin-left: 50px;
    }
    
    div.v-caption.v-caption-lBolum40, div.v-caption.v-caption-lsinavKontenjani49, div.v-caption.v-caption-lsinavDerslik44, div.v-caption.v-caption-lsinavBilgi41, div.v-caption.v-caption-lsinavBelge50{
        font-weight: bold;
        margin-top: 40px
    }
    
    div.v-caption.v-caption-lSinavAdi42, div.v-caption.v-caption-lSinavTuru43{
        font-weight: bold;
        margin-top: 40px;
        margin-left: 10% !important;
    }
    
    div.v-caption.v-caption-lSinavZamani46, div.v-caption.v-caption-lSinavTarih45{
        font-weight: bold;
        margin-top: 40px;
        margin-left: 8% !important;
    }
    
    div.v-caption.v-caption-lbasvuruBaslama47, div.v-caption.v-caption-lbasvuruBitis48{
        font-weight: bold;
        margin-top: 40px;
        margin-left: 2% !important;
    }
    
    .lBolum40, .lsinavKontenjani49, .lsinavDerslik44, .lsinavBilgi41, .lsinavBelge50{
        margin-left: 6% !important;
    }
    
    .lbasvuruBaslama47, .lbasvuruBitis48{
        margin-left: 7.5% !important;
    }
    
    .lSinavAdi42, .lSinavTuru43, .lSinavZamani46, .lSinavTarih45{
        margin-left: 15% !important;
    }
    
    .lSinavKontenjani, .lDerslikler, .label8, .label7{
        margin-top: 40px;
    } 
    
    .label5{
        margin-top: 39px;
        margin-left: 75% !important;
    } 
    
    .derslikGrid, .belgeler, .bilgilerGrid{
        margin-top: 12% !important;
       // margin-left: 15% !important;
        width: 180% !important;
        height: 118px !important;
    }
    
    .ResultsGrid{
        width: 100% !important;
        height: 100% !important;
    }
    
    .referencedGrid{
        width: 100% !important;
        height: 100% !important;
    }
    
    .gridPastExams{
        width: 100% !important;
        height: 100% !important;
    }
    
    .gridExamsUsers{
        width: 100% !important;
        height: 400px !important;
    }
    
    .belgeler{
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(128,128,0) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(128,128,0);
            background-image: none;
            background-color: rgb(128,128,0) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(128,128,0);
            color: white !important;
        }
    }
    
    .derslikGrid{
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(119,136,153) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(119,136,153);
            background-image: none;
            background-color: rgb(119,136,153) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(119,136,153);
            color: white !important;
        }
    }
    
    .bilgilerGrid{
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(0,128,128) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(0,128,128);
            background-image: none;
            background-color: rgb(0,128,128) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(0,128,128);
            color: white !important;
        }
    }
    
    .sinavKontenjani{
        margin-left: 5%;
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 260px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px rgba(119,136,153,1) !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(119,136,153) !important;
        }
    }
    
    div.v-caption.v-caption-derslik, div.v-caption.v-caption-sinavBilgi, div.v-caption.v-caption-sinavBelge, div.v-caption.v-caption-sinavKontenjani{
        margin-top: 0% !important;
    }
    
    .derslik{
        margin-left: 5%;       
        height: 35px !important;
        width: 260px !important;
        border-color: rgb(34,53,76);
         .v-filterselect-input 
        {
            
             border-color: rgb(34,53,76) !important;
             &:hover
            {

                //background-color: transparent;
                //#B1B1B1;
                //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
                border-color:transparent;
                box-shadow: 0px 0px 10px 1px rgb(0,100,0) !important;
                //outline:none !important;
                // -webkit-appearance:none;

            }
            
             &:focus{


                border-color: transparent !important;
                box-shadow: 0px 0px 10px 1px rgb(0,100,0) !important;
                outline:none !important;
                border-radius: 63px 63px 63px 63px;
                @include transition(border-radius 3s .2s, color 2s);    
            }
        }
    }
        
    div.v-caption.v-caption-lBolum, div.v-caption.v-caption-lSinavAdi, div.v-caption.v-caption-lSinavTuru, div.v-caption.v-caption-lSinavZamani, div.v-caption.v-caption-lSinavTarih, div.v-caption.v-caption-lSinavOgretmeni, div.v-caption.v-caption-lZorunluBelge, div.v-caption.v-caption-lZorunluBilgi, div.v-caption.v-caption-BasvuruBitis, div.v-caption.v-caption-lDerslik, div.v-caption.v-caption-lbasvuruBaslama, div.v-caption.v-caption-lbasvuruBitis, div.v-caption.v-caption-lsinavKontenjani, div.v-caption.v-caption-lsinavDerslik, div.v-caption.v-caption-lsinavBilgi, div.v-caption.v-caption-lsinavBelge{
        font-weight: bold;
    }

    div.v-caption v-caption-lSinavTuru43{
        margin-left: 100% !important;
    }
    
    .v-Notification.mystyle {
        width: 30%;
        background: rgb(102,0,51);
        border-radius: 4px;
        color: #FFFFFF !important;
        margin-top: 20% !important;
    }
    
    .v-Notification.examValidation{
        width: 25%;
        background: rgb(217,83,79);
        border-radius: 4px;
        color: #FFFFFF !important;
        margin-top: 20% !important;
    }
  
    .v-Notification.errorValidation{
        width: 25%;
        background: rgb(139,0,0);
        border-radius: 4px;
        color: #FFFFFF !important;
        margin-top: 20% !important;
    }
    
    .v-tabsheet-tabs{
        width: 100%;
        .tbody{
            width: 100%;
        }
    }
    .v-tabsheet-tabcontainer tbody{
        width: 100%;
    }
    .v-tabsheet-tabcontainer tr{
         width: 100%;
    }
    .v-tabsheet-tabitemcell{
        width: 33%;
    }
    .v-tabsheet-tabitemcell .v-caption{
        width: 86% !important;
    }
    .v-tabsheet-tabitemcell .v-caption .v-captiontext{
        margin-left: 0px !important;
        width: 100% !important;
        font-weight: bold;
    }
    
    tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
        background-image: none;
        background-color: rgb(34,53,76) !important;
    }
    .v-grid-row-selected > .v-grid-cell{
        border-color: rgb(34,53,76);
        background-image: none;
        background-color: rgb(34,53,76) !important;
    }
    
    .v-grid-row-selected > td {
        background: rgb(34,53,76);
    }
    

/*    .basvurulayout
    {
        //position:absolute;
        width: 100% !important;
        height: 100% ! important;
        background-color: transparent;
    }*/
    
    
    
    .kutu
    {
        position:absolute;
        width: 100% !important;
        height: 100% ! important;
        background : url("images/resim2.jpg") no-repeat;
        padding-left: 1%;
         -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
   
    div.v-slot.v-slot-basvuruBolumLayout{
        width: 24% !important;
    } 
    
    .basvuruBolumPanel{
        position: absolute;
        margin-right: 0% !important;
        border-radius: 4px;
        border-color: rgb(26,188,156);
        margin-left: 1% !important;
        height: 61%;
        width: 88% !important;        
    }
    
    
    .basvuruBolumLabel{
        margin-top: 40%;
        margin-left: 1%;
        width: 88% !important;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        padding: 3%;
        background-color: rgb(26,188,156);
    }
    
    .v-panel-caption.v-panel-caption-basvuruBolumPanel{
        background: none;
        color: white;
        border: none;
    }
    
    .basvuruSinavPanel{
        position: absolute;
        border-radius: 4px;
        border-color: rgb(217,83,79);
        margin-left: 0% !important;
        height: 78%;
        width: 96% !important;
      
    }
    
    .basvuruSinavLabel{
        margin-top: 40%;
        margin-left: 0% !important;
        width: 96% !important;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        padding: 3%;
        background-color: rgb(217,83,79);
    }
    
    
    .v-panel-caption.v-panel-caption-basvuruSinavPanel{
        background: none;
        color: white;
        border: none;
    }
    
    .basvuruSinavBilgiPanel{
        position: absolute;
        border-radius: 4px;
        border-color: rgb(240,173,78);
        margin-left: 1% !important;
        height: 78%;
        width: 96% !important;
    }
    
    .basvuruSinavBilgiLabel{
        margin-top: 40%;
        margin-left: 1% !important;
        width: 96% !important;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        padding: 3%;
        background-color: rgb(240,173,78);
    }
    
    .v-panel-caption.v-panel-caption-basvuruSinavBilgiPanel{
        background: none;
        color: white;
        border: none;
    }
    
    .basvuruPanel{
        position: absolute;
        border-radius: 4px;
        border-color: rgb(92,184,92);
        margin-left: 3% !important;
        height: 61%;
        width: 90% !important;
    }
    
    div.v-slot.v-slot-basvuruLayout{
        margin-left: 1%;
        margin-top: 24%;
        height: 60%;
    } 
    
    
    .basvuruLabel{
        //margin-top: 38%;
        margin-left: 3% !important;
        width: 91% !important;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        padding: 3%;
        background-color: rgb(92,184,92);
    }
    
    .v-panel-caption.v-panel-caption-basvuruPanel{
        background: none;
        color: white;
        border: none;
    }
    
    .basvuruGrid{
        width: 100% !important;
        height: 100% !important;
        font-weight: bold;
        
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(26,188,156) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(26,188,156);
            background-image: none;
            background-color: rgb(26,188,156) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(26,188,156);
            color: white !important;
        }
    }
    
    .sinavGrid{
        width: 100% !important;
        height: 100% !important;
        font-weight: bold;
        
        
        tr.v-grid-row.v-grid-row-has-data.v-grid-row-selected.v-grid-row-focused{
            background-image: none;
            background-color: rgb(217,83,79) !important;
            color: white !important;
        }
        .v-grid-row-selected > .v-grid-cell{
            border-color: rgb(217,83,79);
            background-image: none;
            background-color: rgb(217,83,79) !important;
            color: white !important;
        }

        .v-grid-row-selected > td {
            background: rgb(217,83,79);
            color: white !important;
        }
        
    }
    
    .examuserLayout{
        height: 100%;
        width: 100%;
    }
    
    .gizle{
        display: none;
    }
    
    div.v-slot.v-slot-logout{
        width: 10% !important;
        height: 20%;
        margin-top: 4%;
        margin-left: 75% !important;
    }
    
    .barmenu{
        height: 3% !important;
        color: white;
        background-image: none;
        border-image: none;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
    }
    div.v-menubar-popup{
        background-color: rgb(34,53,76);
        border: 1 px solid rgb(34,53,76) !important;
    }
    span.v-menubar-menuitem.v-menubar-menuitem-selected{
        background-image: none !important;
        background-color: rgb(34,53,76);
        border-bottom-color: rgb(34,53,76);
        border-top-color: rgb(34,53,76);
        border: 1 px solid rgb(34,53,76) !important;
        box-shadow: inset 0 1px 0 rgb(34,53,76), inset 0 -1px 0 rgb(34,53,76);
    }
    
    span.v-menubar > span.v-menubar-menuitem-selected{
        background-color: rgb(34,53,76) !important;
        border-bottom-color: rgb(34,53,76);
        border-top-color: rgb(34,53,76);
        border: 1 px solid rgb(34,53,76) !important;
    }
    
    .eklemebarmenu{
        height: 3% !important;
        color: white;
        background-image: none;
        border-image: none;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
    }
    
    div.v-verticallayout.v-layout.v-vertical.v-widget.eklemelogout.v-verticallayout-eklemelogout.v-has-width{
        padding-top: 1%;
        padding-left: 90%;
    }
    .basvurButon
    {
        margin-top: 7% !important;
        background-image: none !important;
        padding: 15px 25px;
        font-size: 100% !important;
        text-align: center;
        cursor: pointer;
        outline: none !important;
        color: #fff;
        background-color: #f0ad4e;
        border: none;
        border-radius:  15px;
        box-shadow: 0 9px #999;
        margin-left: 27% !important;
        margin-bottom: 5% !important;
        width:40% !important;
        height: 25% !important;
        
        &:hover
        {
            background-color: #e8992a !important;
            box-shadow: 0 9px #999;
          //  outline:none !important;
            
        }
        
        &:focus
        {
            background-color: #e8992a;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            transition-timing-function: ease-out;
            transition:0.1s;
            outline:none !important;
            border-color:none !important;
            -webkit-box-shadow: none !important;
            
            
            &:after
            {
                border-color:none !important;
                outline: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                
            }
        }


    }
    
    .cv{
        color: rgb(34,53,76);
        font-weight: bold;
        margin-top:10% !important;
    }
    
    .uploadStyle
    {
        background-color: red;
        background-image: none !important;
        margin-top: 25%;
        width: 350%;
        
    }
   
           .btn-disable
        {
        cursor: not-allowed;
        pointer-events: none;

        margin-top: 350% !important;
       
        width: 300%;
        right: 285%;
       
        height: 50px !important;
     
        color: white;
        background-image: none !important;
        background-color:#94D094 !important;
        outline: none !important;
        border-color: aqua !important;
        border: none !important;
        border-radius:  15px;
        
        &:hover
        {
            background-color:#94D094 !important;
        }
        
        .v-upload .v-button
        {
            color: white;
            background-image: none !important;
            background-color:#94D094 !important;
            outline: none !important;
            border-color: aqua !important;
            border: none !important;
            border-radius:  15px;
        }
        /*Button disabled - CSS color class*/
       // color: #c0c0c0;
       // background-color: #ffffff;

        }
    
        
        
         .btn-disable-basvuru
        {
            cursor: not-allowed;
            pointer-events: none;

          //  margin-top: 17% !important;
            width: 174px;
            

            height: 50px !important;

            color: white;
            background-image: none !important;
            background-color:#94D094 !important;
            outline: none !important;
            border-color: aqua !important;
            border: none !important;
            border-radius:  15px;

            &:hover
            {
                background-color:#94D094 !important;
            }
        
       
        }
    
    
     .genelLayout
     {
         
     }
        
     .dosyaLayout
     {
/*        background-color: red !important;
        width: 22% !important;
        height: 20% !important;
        position: fixed;
        right: 2.6%;
        bottom: 62% !important;*/

       // background-color: red !important;
      //  width: 219% !important;
       width: 341% !important;
    //    right: 6.0%;
       right: 10.5%;
        bottom: 15% !important;
        position: relative;
        top: auto !important;
        left: auto;
        height: 170px;
     }
        
    .bilgiLayout
    {
       //     width: 223% !important;
        width: 352% !important;
        height: 192px;
        text-align: center;
        right: 120.5%;
        bottom: 5% !important;
        position: relative;
        top: 190px !important;
        left: auto;
    //    height: 207px;
        height: 158px;
     //   height: 185px;
   //     background-color: yellowgreen;
        overflow-y: scroll !important;
        overflow-x: hidden;
     }
     
     
     .basvuruButonLayout
     {
     //   background-color: brown;
        text-align: center;
        width: 341% !important;
        right: 230.5%;
        bottom: 5% !important;
        position: relative;
        top: 400px !important;
        left: auto;
        height: 539px;
     // height: 410px;
      // height: 185px;
            
     }
    
/*    
    .basvuruStyle
    {
        margin-top: 350% !important;
       
        width: 300%;
        right: 285%;
       
        height: 50px !important;
         width: 47%;
         right: -30%;
         height: 67px !important;
         color: white;
         background-image: none !important;
         background-color: #5cb85c !important;
         outline: none !important;
         border-color: aqua !important;
         border: none !important;
         border-radius: 15px;
         bottom: -15px !important;
       // border-radius: 1%;
         border-radius:  15px;
         &:hover
        {
            outline: none !important;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 5px 0 rgba(0,0,0,0.19);
        }
         &:after
            {
                border-color:none !important;
                outline: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                
            }
     
    }
    
    */
    
    .basvuruStyle
    {
        width: 174px;
            

            height: 50px !important;

            color: white;
            background-image: none !important;
            background-color:#5cb85c !important;
            outline: none !important;
            border-color: aqua !important;
            border: none !important;
            border-radius:  15px;

            &:hover
            {
                outline: none !important;
                 box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 5px 0 rgba(0,0,0,0.19);
            }
             &:after
            {
                border-color:none !important;
                outline: none !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                
            }
    }
    
    .v-upload 
    {
        margin-top: 75% !important;
        margin-left: 50% !important;
        width: 100%;
        background-color: transparent !important;
        background-image: none !important;
    }
    
    
    .bilgiismi
    {
       text-align: center;
       color: #324357;
       font-weight: bold;
      // margin-top: 8% !important;
       
    }
    
    
    
    .labelU
    {
         margin-top: 250% !important;
         position: absolute;
         left:auto;
        // margin-left: 5% !important;
        right: 0% !important;
         //background-color: greenyellow;
         color: rgb(50,67,87);
         width: 300% !important;
         padding-left: 70%;
    }
    
    .labelU2
    {
/*        margin-top: 3% !important;
        margin-left: 3% !important;
        position: fixed;
        color:  rgb(50,67,87);
        font-weight: bold;*/
        margin-top: 3% !important;
        margin-left: 23% !important;
        //position: fixed;
        color: #324357;
        font-weight: bold;
        margin-top: 6% !important;
    }
    
    
    .txt-basvuru
    {
      
       margin-bottom: 7%;
      
        border-color: rgb(34,53,76);
        height: 35px !important;
        width: 200px !important;
        &:focus
        {
            
           
           border-color: transparent;
               //#B1B1B1;
           //box-shadow: 0px 1px 0px #F7F7F7 inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
            
           box-shadow: 0px 0px 10px 1px #5cb85c !important;
            outline:none !important;
          // -webkit-appearance:none;
          border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px #5cb85c !important;
        }
    }
    
    

    .v-upload .v-button
    {
     /*   margin-top: 75% !important;
        width: 250%;
        right: 75%;
         height: 50px !important;
      //  margin-left: 15% !important;
        border:none;
        border-color: #5cb85c !important;
        background-color: #5cb85c !important;
        background-image: none !important;
        color: white;
        border-radius: 15px;
        */
     
           bottom: 25% !important;
           width: 50%;
           right: 25%;
           height: 50px !important;
           border: none;
           border-color: #5cb85c !important;
           background-color: #5cb85c !important;
           background-image: none !important;
           color: white;
           border-radius: 15px;
           top: auto;
           position: absolute;
     
     
      //  border-radius: 1%;
      
        .gwt-FileUpload
        {
            background-color: aqua !important;
            display: none;
        }


        //   background-color: #8E44AD !important;
        //   display: none;

        .v-button-wrap
        {
            // background-color: yellow !important; 
            // display:none;

            .v-button-caption
            {
              //  line-height : 60px; 
                text-align: center;
                padding-top: 8%;
                //position: fixed;
                padding-left: 15%;
          //      font-size: 18px;
            	
          //      padding-left: 2% !ımportant;
                //background-color: red !important;
                
                &:hover
                {
                    text-align: center;
                    padding-top: 8%;
                    position: fixed;
                    padding-left: 10%;
                }


            }
        }

        &:hover
        {
            outline: none !important;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 5px 0 rgba(0,0,0,0.19);
           
        }
        &:after
        {
            border-color:none !important;
            outline: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;

        }

          .belgeler{
                width: 20%;
                margin-top: 40%;
                margin-left: -80%;
          }
    }
    .labelZorunluBelge,.labelZorunluBilgi,.labelBasvuruBitis,.labelDerslik
    {
        margin-top: 39px;
        margin-left: 50px;
        font-weight: bold;
    }
    
    .lBolum, .lSinavAdi, .lSinavTuru, .lSinavTarih, .lSinavOgretmeni, .lsinavSaat, .lsinavDak,.lSinavZamani, .lZorunluBelge,.lZorunluBilgi,.BasvuruBitis,.lDerslik, .lbasvuruBaslama, .lbasvuruBitis, .lsinavKontenjani, .lsinavDerslik, .lsinavBilgi, .lsinavBelge{
        margin-top: 2%;
        margin-left: 5%;
        height: 35px !important;
        width: 250px !important;
        font-style: italic;
    }  
    
    .sinavSecimi{
        width: 100%;
    }
    
    .studentNameStyle{
        font-weight: bold;
        margin-top: 7% !important;
        margin-bottom: 2% !important;
    }
    
    .studentsMarksStyle{
        border-color: rgb(34,53,76);
        margin-top: 4%;
        margin-bottom: 1%;
        &:focus {
            border-color: transparent;
            box-shadow: 0px 0px 10px 1px rgba(255,160,122,1) !important;
            outline:none !important;
            border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(255,160,122) !important;
        }
        
    }
    
    .singleStudentsMarksStyle{
        border-color: rgb(34,53,76);
        margin-top: 4%;
        margin-bottom: 1%;
        &:focus {
            border-color: transparent;
            box-shadow: 0px 0px 10px 1px rgba(32,178,170,1) !important;
            outline:none !important;
            border-radius: 63px 63px 63px 63px;
          @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(32,178,170) !important;
        }
    }
    
    div.v-slot.v-slot-iconHorizontal{
        margin-top: 3.5% !important;
        width: 3% !important;
        margin-left: 8% !important;
    }
    
    div.v-slot.v-slot-studentsHorizontal{
        width: 44% !important;
    }
    div.v-slot.v-slot-studentsMarksHorizontal{
        width: 53% !important;
    }
    
    .pastExamsWindow{
        overflow-y: scroll;
    }
    
    .sinavSonucYayimlama{
        padding-left: 25%;
    }
    
    span.v-radiobutton.v-select-option{
        color: rgb(34,53,76);
        font-weight: bold;
    }
    
    .yayimlamaTarihi{
        margin-left: 55%;
    }
    
    .v-caption.v-caption-yayimlamaTarihi{
        margin-left: 50%;
    }
    
    .sinav{
        margin-top: 4%;
        margin-left: 70px;
        font-weight: bold;
        width: 250px !important;
    }
    
    .basvuran{
        margin-top: 2%;
        margin-left: 70px;
        font-weight: bold;
        width: 250px !important;
    }
    
    .gerekliB, .gerekliD{
        margin-top: 1%;
        margin-left: 70px;
        font-weight: bold;
        width: 250px !important;
    }
    
    .studentLabel{
        margin-top: 6% !important;
    }
    
    .examLabel{
        margin-top: 10% !important;
    }
    
    .info{
        margin-left: 3%;
        margin-top: 2%;
        font-weight: bold;
        width: 180px !important;
    }
    
    .value{
        margin-top: 30% !important;
    }
    
    .gerekliBLayout, .gerekliDLayout{
        padding-left: 120px;
    }
    
    .aStyle{
        padding-left: 120px;
    }
    
    .iStyle{
        margin-top: 50% !important;
    }
    
    div.v-slot.v-slot-iStyle{
        margin-top: 2% !important;
        height: 30px !important;
    }
    
    .cancelExamPanel{
        overflow: hidden !important;
        position: absolute;
        border-radius: 4px;
        background-color: rgb(128,0,0);
        border-color: rgb(128,0,0);
        margin-left: 3.5% !important;
        margin-top: 2% !important;
        height: 55px;
        width: 88.5% !important;
        &:hover {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(128,0,0) !important;
        }
    }
    
    .cancelLabel{
        color: white;
        font-weight: bold;
        margin-left: 2% !important;
        overflow: hidden !important;
    }
    
    .notHLayout{
        overflow: hidden !important;
        margin-top: 1% !important;
        margin-left: 1% !important;
        height: 25px;
    }
    
    .cancelButon{
        margin-top: 3.5% !important;
        margin-left: 97.45%;
        border: none !important;
        border-color: none !important;
        width: 0px !important;
        height: 25px;
        background-color: none;
        background: none;
        border-radius: 200px !important;
        background-image: url("images/cancel.png");
        background-repeat: no-repeat;
        &:hover{
            background-color: transparent !important;
            background-image: url("images/cancel.png");
            border-color:none;
            outline: none;
            transition: 1.5s;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    .hLabel{
        width: 100% !important;
    }
    
    .l3Yok{
        font-weight: bold;
        margin-left: -90px !important;
        width: 275px !important;
    }
    
    .appBilgiLabel{
        font-weight: bold;
        margin-top: 25px;
        margin-left: 15px;
    }
    
    .appToplamLabel{
        font-weight: bold;
        margin-top: 25px;
        margin-left: 50px;
    }
    
    .appYLabel, .appBLabel{
        margin-left: 15px;
        margin-top: 25px;
        font-weight: bold;
    }
    
    .kriterBilgiTextfield{
        margin-left: 10px;
        margin-top: 20px;
        width: 50px;
        &:focus{
           border-color: transparent;
           box-shadow: 0px 0px 10px 1px rgba(0,128,128) !important;
           outline:none !important;
           border-radius: 63px 63px 63px 63px;
           @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(0,128,128) !important;
        }
    }
    
    .appALabel{
        font-weight: bold;
        margin-top: 25px;
        margin-left: 20px;
        color: rgb(0,128,128) !important;
    }
    
    .kkButon{
        font-weight: bold;
        color: white;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
        background-image: none;
        margin-top: 15px;
        margin-left: 30%;
        margin-bottom: 10px;
    }
    
    .kLabel{
        margin-top: 20% !important;
        margin-left: 7% !important;
        font-weight: bold;
        font-size: small;
    }
    
    .lKriterLabel{
        margin-left: 25% !important;
        width: 150% !important;
        font-style: italic;
    }
    
    .v-widget.v-has-caption.v-caption-on-top{
        margin-top: 0px;
    }
    
    .v-caption.v-caption-groupStyle{
        height: 5px !important;
    }
    
    .basvuruSinavSayisi{
        margin-left: 5px;
        width: 50px;
        &:focus{
           border-color: transparent;
           box-shadow: 0px 0px 10px 1px rgba(128,0,128) !important;
           outline:none !important;
           border-radius: 63px 63px 63px 63px;
           @include transition(border-radius 3s .2s, color 2s);
        }
        &:hover
        {
            border-color:transparent;
            box-shadow: 0px 0px 10px 1px rgb(128,0,128) !important;
        }
    }
    
    .label101, .label100{
        margin-top: 5px;
        margin-right: 3px;
        font-style: italic;
    }
    
    .label100{
        margin-left: 15px;
    }
    
    .basvuruSinavlarGrid{
        margin-top: 20px;
        margin-left: 80px;
        width: 140% !important;
        height: 150px !important;
    }
    
    .basvuruKriterlerGrid{
        margin-top: 20px;
        width: 180% !important;
        height: 200px !important;
        overflow-x: scroll;
    }
}
