<!--
    ICON eklemek istersen: <i class="icon">&#xe80d;</i>
    &#x + icon kodu + ; şeklinde eklenir. 
    ICON kodları: https://vaadin.com/icons#academy-cap
-->
<v-panel caption="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daha önce oluşturulan sınavlar aşağıda listelenmektedir!" >
    <v-button _id="yeniSinav" style-name="yeniSinav"><i class="icon">&#xe7d8;</i>Yeni başvuru oluştur!</v-button>
    
</v-panel>