<v-vertical-layout width="100%" spacing  style-name="ekleme"  _id="ekleme">
    <v-horizontal-layout style-name="hEkleme"  _id="hEkleme" width="100%">
        <v-vertical-layout _id="ekleme1" style-name="ekleme1" width="50%">
            <v-horizontal-layout>
                <v-label _id="label2" style-name="label2"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
                <v-text-field caption="Sınav Adını Girin" _id="sinavAdi" style-name="sinavAdi" />
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label3" style-name="label3"><i class="icon" style="color: rgb(92,184,92);">&#xe6f4;</i></v-label>
                <v-combo-box caption="Sınav Türünü Seçin" _id="sinavTuru" style-name="sinavTuru" />
            </v-horizontal-layout>
            <v-horizontal-layout>

                <v-label _id="label6" style-name="label6"><i class="icon" style="color: rgb(102,0,51);">&#xe6f4;</i></v-label> 
                <v-combo-box  caption="Sinav Saati Seciniz" _id="sinavSaati" style-name="sinavSaati" />  
                <v-label _id="ikinokta" style-name="ikinokta"> : </v-label>
                <v-combo-box   _id="sinavDak" style-name="sinavDak" />

            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label5" style-name="label5"><i class="icon" style="color: rgb(142,68,173);">&#xe6f4;</i></v-label>
                <v-date-field caption="Sınav Tarihini Seçin" _id="sinavTarih" style-name="sinavTarih"></v-date-field>
            </v-horizontal-layout>
        </v-vertical-layout>
        <v-vertical-layout _id="ekleme2" style-name="ekleme2" width="50%">
            <v-horizontal-layout>
                <v-label _id="lSinavKontenjanı" style-name="lSinavKontenjani"><i class="icon" style="color: rgb(119,136,153);">&#xe6f4;</i></v-label>
                <v-text-field caption="Sınava Girebilecek Kişi Sayısını Girin" _id="sinavKontenjani" style-name="sinavKontenjani" />
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="lDerslikler" style-name="lDerslikler"><i class="icon" style="color: rgb(0,100,0);">&#xe6f4;</i></v-label>
                <v-combo-box caption="Sınavın Yapılacağı Dersliği Seçin" _id="derslik" style-name="derslik" />
            </v-horizontal-layout>
            <v-vertical-layout _id="addExamsSinavKriter" style-name="addExamsSinavKriter">
                <v-button _id="kriterEkle" style-name="primary" width="110%">Başvuruya Kriter Ekle</v-button>
                <v-horizontal-layout _id="gizliKriter">
                    <v-label _id="kriterBilgi" style-name="lDerslikler"><i class="icon" style="color: #008B8B;">&#xe6f4;</i></v-label>
                    <v-label style-name="kLabel">Sınava Girebilmek İçin Kriterler: </v-label>
                </v-horizontal-layout>
            </v-vertical-layout>
        </v-vertical-layout>
        <v-vertical-layout _id="ekleme4" style-name="ekleme4" width="50%">
            
        </v-vertical-layout>
    </v-horizontal-layout>
    <v-vertical-layout _id="ekleme3" style-name="ekleme3">
        <v-button _id="kaydet" style-name="primary" width="45%">Kaydet</v-button>
    </v-vertical-layout>
</v-vertical-layout>