<v-vertical-layout width="100%" spacing>
    <v-vertical-layout _id="kriter">
        
    </v-vertical-layout>
    <v-horizontal-layout>
        <v-label _id="label2" style-name="label2"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
        <v-text-field caption="Asil Kontenjanını Giriniz" _id="asilKontenjan" style-name="sinavAdi" />
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="label3" style-name="label3"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
        <v-text-field caption="Yedek Kontenjanını Giriniz" _id="yedekKontenjan" style-name="sinavAdi" />
    </v-horizontal-layout>
    <v-button _id="kkButon" style-name="primary" width="45%">Kaydet</v-button>
</v-vertical-layout>