<v-horizontal-layout width="100%" style-name="kutu" _id="kutu">
    <v-vertical-layout _id="basvuruBolumLayout" style-name="basvuruBolumLayout">
        <v-label _id="basvuruBolumLabel" style-name="basvuruBolumLabel"><i class="icon" style="color: white;">
            &#xe77e;</i>&nbsp;&nbsp;Bölüm Seçimi
        </v-label>
        <v-panel _id="basvuruBolumPanel" style-name="basvuruBolumPanel">

        </v-panel>
    </v-vertical-layout>
    <v-vertical-layout _id="basvuruSinavLayout" style-name="basvuruSinavLayout">
        <v-label _id="basvuruSinavLabel" style-name="basvuruSinavLabel"><i class="icon" style="color: white;">
            &#xe7f9;</i>&nbsp;&nbsp;Sınav Seçimi
        </v-label>
        <v-panel _id="basvuruSinavPanel" style-name="basvuruSinavPanel">

        </v-panel>
    </v-vertical-layout>
    <v-vertical-layout _id="basvuruSinavBilgiLayout" style-name="basvuruSinavBilgiLayout">
        <v-label _id="basvuruSinavBilgiLabel" style-name="basvuruSinavBilgiLabel"><i class="icon" style="color: white;">
            &#xe6be;</i>&nbsp;&nbsp;Sınav Bilgileri
        </v-label>
        <v-panel _id="basvuruSinavBilgiPanel" style-name="basvuruSinavBilgiPanel">

            <v-vertical-layout _id="v">


               
                <v-horizontal-layout>
                    <v-label _id="label4" style-name="label4"><i class="icon" style="color: rgb(50,67,87);">&#xe6f4;</i>
                    </v-label>
                    <v-label caption="Sınavı Yapan Öğretmen İsmi" _id="lSinavOgretmeni" style-name="lSinavOgretmeni"/>
                </v-horizontal-layout>


                   <v-horizontal-layout>
                    <v-label _id="label9" style-name="labelBasvuruBitis"><i class="icon" style="color: rgb(50,67,87);">&#xe6f4;</i>
                    </v-label>
                    <v-label caption="Basvuru Bitis Tarihi" _id="lBasvuruBitis" style-name="BasvuruBitis"/>
                </v-horizontal-layout>
                
               
                
                <v-horizontal-layout>
                    <v-label _id="label7" style-name="labelZorunluBelge"><i class="icon" style="color: rgb(50,67,87);">&#xe6f4;</i>
                    </v-label>
                    <v-label caption="Zorunlu Belgeler" _id="lZorunluBelgeler" style-name="lZorunluBelge"/>
                </v-horizontal-layout>
                <v-horizontal-layout>
                    <v-label _id="label8" style-name="labelZorunluBilgi"><i class="icon" style="color: rgb(50,67,87);">&#xe6f4;</i>
                    </v-label>
                    <v-label caption="Zorunlu Bilgiler" _id="lZorunluBilgiler" style-name="lZorunluBilgi"/>
                </v-horizontal-layout>

                <v-button _id="Basvur" style-name="basvurButon">Başvur</v-button>
            </v-vertical-layout>

        </v-panel>
    </v-vertical-layout>

    <v-vertical-layout>
        <v-vertical-layout _id="logout" style-name="logout">

        </v-vertical-layout>
        <v-vertical-layout _id="basvuruLayout" style-name="basvuruLayout">
            <v-label _id="basvuruLabel" style-name="basvuruLabel"><i class="icon" style="color: white;">&#xe7fa;</i>&nbsp;&nbsp;Sınava
                Başvuru
            </v-label>
            <v-panel _id="basvuruPanel" style-name="basvuruPanel">
              
            </v-panel>
                     
        </v-vertical-layout>
    </v-vertical-layout>

</v-horizontal-layout>
