<v-vertical-layout width="100%" spacing  style-name="derslikEkleme"  _id="derslikEkleme">
    <v-horizontal-layout>
        <v-label _id="lDerslikAdi" style-name="lDerslikAdi"><i class="icon" style="color: rgb(255,160,122);">&#xe6f4;</i></v-label>
        <v-text-field caption="Derslik Adını Giriniz" _id="derslikAdi" style-name="derslikAdi" />
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="lDerslikKontenjan" style-name="lDerslikKontenjan"><i class="icon" style="color: rgb(32,178,170);">&#xe6f4;</i></v-label>
        <v-text-field caption="Dersliğin Aldığı Kişi Sayısını Giriniz" _id="derslikKontenjan" style-name="derslikKontenjan" />
    </v-horizontal-layout>
    <v-button _id="kaydet" style-name="primary" width="45%">Kaydet</v-button>
</v-vertical-layout>