<!--
    ICON eklemek istersen: <i class="icon">&#xe80d;</i>
    &#x + icon kodu + ; şeklinde eklenir. 
    ICON kodları: https://vaadin.com/icons#academy-cap
-->
<v-panel caption="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sınavlara kayıt olanlar aşağıda listelenmektedir!" >
    <v-combo-box value="-Seçiniz-" _id="sinavSecimi" style-name="sinavSecimi" />
</v-panel>