<v-vertical-layout width="100%" spacing>
    <v-horizontal-layout>
        <v-label _id="label42" style-name="label42"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
        <v-label caption="Sınav Adı" _id="lSinavAdi42" style-name="lSinavAdi42" />
    </v-horizontal-layout>

    <v-horizontal-layout>
        <v-label _id="label412" style-name="label412"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
        <v-label caption="Sınav Türü" _id="lSinavAdi412" style-name="lSinavAdi412" />
    </v-horizontal-layout>

    <v-horizontal-layout>
        <v-label _id="label47" style-name="label47"><i class="icon" style="color: rgb(205,92,92);">&#xe6f4;</i></v-label> 
        <v-label caption="Sınav Saati" _id="lbasvuruBaslama47" style-name="lbasvuruBaslama47"/>      
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="label48" style-name="label48"><i class="icon" style="color: rgb(47,79,79);">&#xe6f4;</i></v-label> 
        <v-label caption="Sınav Tarihi" _id="lbasvuruBitis48" style-name="lbasvuruBitis48"/>      
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="label444" style-name="label444"><i class="icon" style="color: rgb(47,79,79);">&#xe6f4;</i></v-label> 
        <v-label caption="Sınav Kontenjanı" _id="lkriter44" style-name="lkriter44"/>      
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="label40" style-name="label40"><i class="icon" style="color: rgb(217,83,79);">&#xe6f4;</i></v-label>
        <v-label _id="lBolum40" caption="Sınavın Yapılacağı Derslikler" style-name="lBolum40" />
    </v-horizontal-layout>
    <v-button _id="sil" style-name="primary" width="45%">Sil</v-button>
</v-vertical-layout>
