<v-vertical-layout width="100%" spacing style-name="ekleme"  _id="ekleme">
    <v-horizontal-layout style-name="hEkleme"  _id="hEkleme" width="100%">
        <v-vertical-layout _id="ekleme1" style-name="ekleme1" width="50%">
            <v-horizontal-layout>
                <v-label _id="label40" style-name="label40"><i class="icon" style="color: rgb(217,83,79);">&#xe6f4;</i></v-label>
                <v-label _id="lBolum40" caption="Bölüm" style-name="lBolum40" />
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label42" style-name="label42"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
                <v-label caption="Başvuru Adı" _id="lSinavAdi42" style-name="lSinavAdi42" />
            </v-horizontal-layout>
            
            <v-horizontal-layout>
                <v-label _id="label412" style-name="label412"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
                <v-label caption="Başvurunun sınavları" _id="lSinavAdi412" style-name="lSinavAdi412" />
            </v-horizontal-layout>
           
            
        </v-vertical-layout>
        <v-vertical-layout _id="ekleme2" style-name="ekleme2" width="50%">
            <v-horizontal-layout>
                <v-label _id="label47" style-name="label47"><i class="icon" style="color: rgb(205,92,92);">&#xe6f4;</i></v-label> 
                <v-label caption="Sınav Başvuru Başlangıç Tarihi" _id="lbasvuruBaslama47" style-name="lbasvuruBaslama47"/>      
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label48" style-name="label48"><i class="icon" style="color: rgb(47,79,79);">&#xe6f4;</i></v-label> 
                <v-label caption="Sınav Başvuru Bitiş Tarihi" _id="lbasvuruBitis48" style-name="lbasvuruBitis48"/>      
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label444" style-name="label444"><i class="icon" style="color: rgb(47,79,79);">&#xe6f4;</i></v-label> 
                <v-label caption="Gerekli Bilgilerin yuzdelerinin toplamı" _id="lkriter44" style-name="lkriter44"/>      
            </v-horizontal-layout>
            
          
        </v-vertical-layout>
        <v-vertical-layout _id="ekleme4" style-name="ekleme4" width="50%">
           
            <v-horizontal-layout>
                <v-label _id="label41" style-name="label41"><i class="icon" style="color: rgb(0,128,128);">&#xe6f4;</i></v-label>
                <v-label caption="Gerekli Bilgiler" _id="lsinavBilgi41" style-name="lsinavBilgi41" />
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label50" style-name="label50"><i class="icon" style="color: rgb(128,128,0);">&#xe6f4;</i></v-label>
                <v-label caption="Gerekli Belgeler" _id="lsinavBelge50" style-name="lsinavBelge50" />
            </v-horizontal-layout>
        </v-vertical-layout>
    </v-horizontal-layout>
</v-vertical-layout>
