<v-vertical-layout>
    <v-vertical-layout _id="comu" style-name="comu">
        <v-label _id="comuLabel" style-name="comuLabel"><img src="../VAADIN/themes/mytheme/images/comu.png" /></v-label>
    </v-vertical-layout>
    <v-vertical-layout _id="loginComu" style-name="loginComu">
        <v-label _id="loginLabel" style-name="loginLabel">ÇANAKKALE 18 MART ÜNİVERSİTESİ SINAV VE BAŞVURU SİSTEMİ</v-label>
    </v-vertical-layout>
    <v-vertical-layout _id="loginPanel" style-name="loginPanel">
        <v-label _id="loginVerticalLabel" style-name="loginVerticalLabel"><i class="icon" style="color: white;">&#xe932;</i>&nbsp;&nbsp;Giriş Formu</v-label>
            <v-panel _id="inputPanel" style-name="inputPanel">
                <v-vertical-layout margin spacing>
                    <v-horizontal-layout spacing>
                        <v-label _id="TCLabel" style-name="TCLabel"><i class="icon" style="color: rgb(34,53,76);">&#xe80d;</i></v-label>
                        <v-text-field caption="TC Kimlik Numaranızı Girin" _id="tc" style-name="tc" />
                       <!-- <v-password-field caption="Password" />-->
                    </v-horizontal-layout>
                    <v-horizontal-layout spacing>
                        <v-label _id="parolaLabel" style-name="parolaLabel"><i class="icon" style="color: rgb(34,53,76);">&#xe7f2;</i></v-label>
                        <v-password-field caption="Parolanızı Girin" _id="parola" style-name="parola" />
                       <!-- <v-password-field caption="Password" />-->
                    </v-horizontal-layout>
                    <v-button _id="loginButton" style-name="loginButton">Giriş Yap</v-button>
                </v-vertical-layout>
            </v-panel>
    </v-vertical-layout>
</v-vertical-layout>