<v-vertical-layout>
    <v-horizontal-layout width="100%" spacing  style-name="sinavSonucYayimlama"  _id="sinavSonucYayimlama">
        
    </v-horizontal-layout>
    <v-vertical-layout width="100%" spacing  style-name="yayimlamaVertical"  _id="yayimlamaVertical">
        <v-date-field caption="Sonucun Yayımlanma Tarihini Giriniz" _id="yayimlamaTarihi" style-name="yayimlamaTarihi"></v-date-field>
    </v-vertical-layout>
    <v-horizontal-layout width="100%" spacing  style-name="studentsOfExamLayout"  _id="studentsOfExamLayout">
        <v-vertical-layout width="3%" spacing  style-name="iconHorizontal"  _id="iconHorizontal">

        </v-vertical-layout>
        <v-vertical-layout width="100%" spacing  style-name="studentsHorizontal"  _id="studentsHorizontal">

        </v-vertical-layout>
        <v-vertical-layout width="100%" spacing  style-name="studentsMarksHorizontal"  _id="studentsMarksHorizontal">

        </v-vertical-layout>
    </v-horizontal-layout>
    <v-button _id="sonucKaydet" style-name="primary" width="45%">Sonuçları Kaydet</v-button>
</v-vertical-layout>