<v-vertical-layout>
    <v-horizontal-layout>
        <v-label _id="sinav" style-name="sinav"><i class="icon" style="color: #16a085;">&#xe75d;</i>&nbsp;&nbsp;&nbsp;Sınav Adı&nbsp;:</v-label>
        <v-label _id="examLabel" style-name="examLabel"></v-label>
    </v-horizontal-layout>
    <v-horizontal-layout>
        <v-label _id="basvuran" style-name="basvuran"><i class="icon" style="color: #e74c3c;">&#xe75d;</i>&nbsp;&nbsp;&nbsp;Sınava Başvuran&nbsp;:</v-label>
        <v-label _id="studentLabel" style-name="studentLabel"></v-label>
    </v-horizontal-layout>
    <v-vertical-layout style-name="gerekliBVLayout"  _id="gerekliBVLayout">
        <v-label _id="gerekliB" style-name="gerekliB"><i class="icon" style="color: #d35400;">&#xe75d;</i>&nbsp;&nbsp;&nbsp;Gerekli Bilgiler</v-label>
        
    </v-vertical-layout>
    <v-vertical-layout style-name="gerekliDVLayout"  _id="gerekliDVLayout">
        <v-label _id="gerekliD" style-name="gerekliD"><i class="icon" style="color: #800080;">&#xe75d;</i>&nbsp;&nbsp;&nbsp;Gerekli Belgeler</v-label>
    </v-vertical-layout>
    <v-button _id="iptal" style-name="primary" width="45%">Başvuruyu İptal Et</v-button>
</v-vertical-layout>