<!-- _id ile verdiğimiz şey javasında oluşturacağımız isme denk geliyormuş. css de herhangi bir elemente özellik vermek için style-name kullanmak gerekiyormuş burada.-->
<v-vertical-layout width="100%" spacing  style-name="ekleme"  _id="ekleme">
    <v-horizontal-layout style-name="hEkleme"  _id="hEkleme" width="100%">
        <v-vertical-layout _id="ekleme1" style-name="ekleme1" width="50%">
            <v-horizontal-layout>
                <v-label _id="label1" style-name="label1"><i class="icon" style="color: rgb(217,83,79);">&#xe6f4;</i></v-label>
                <v-combo-box caption="Bölümü Seçin" value="-Seçiniz-" _id="bolum" style-name="bolum" />
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label2" style-name="label2"><i class="icon" style="color: rgb(240,173,78);">&#xe6f4;</i></v-label>
                <v-text-field caption="Sınav Adını Girin" _id="sinavAdi" style-name="sinavAdi" />
            </v-horizontal-layout>
            
            <v-horizontal-layout>
                <v-label _id="lBasvuruBaslama" style-name="lBasvuruBaslama"><i class="icon" style="color: rgb(205,92,92);">&#xe6f4;</i></v-label>
                <v-date-field caption="Sınav Başvuru Başlangıç Tarihini Girin" _id="basvuruBaslama" style-name="basvuruBaslama"></v-date-field>
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="lBasvuruBitis" style-name="lBasvuruBitis"><i class="icon" style="color: rgb(47,79,79);">&#xe6f4;</i></v-label>
                <v-date-field caption="Sınav Başvuru Bitiş Tarihini Girin" _id="basvuruBitis" style-name="basvuruBitis"></v-date-field>
            </v-horizontal-layout>
        </v-vertical-layout>
        <v-vertical-layout _id="ekleme2" style-name="ekleme2" width="50%">
            <v-horizontal-layout>
                <v-label _id="label8" style-name="label8"><i class="icon" style="color: rgb(0,128,128);">&#xe6f4;</i></v-label>
                <v-text-field caption="Gerekli Bilgileri Giriniz" _id="sinavBilgi" style-name="sinavBilgi"></v-text-field>
                <v-button _id="bilgiEkle" style-name="butonBilgiEkle" title="Bilgi Ekle"></v-button>
            </v-horizontal-layout>
            <v-horizontal-layout>
                <v-label _id="label7" style-name="label7"><i class="icon" style="color: rgb(128,128,0);">&#xe6f4;</i></v-label>
                <v-text-field caption="Gerekli Belgeleri Giriniz" _id="sinavBelge" style-name="sinavBelge"></v-text-field>
                <v-button _id="belgeEkle" style-name="butonBelgeEkle" ></v-button>
            </v-horizontal-layout>
                <v-vertical-layout _id="ekleme5">
                 <v-text-field caption="Başvuru İçin Eklenecek Sınav Sayısını Girin" _id="basvuruSinavSayisi" style-name="basvuruSinavSayisi"></v-text-field>
            </v-vertical-layout>
        <v-button _id="kriterEkle" style-name="primary" width="110%">Başvuruya Kriter Ekle</v-button>
        </v-vertical-layout>
         
        <v-vertical-layout _id="ekleme4" style-name="ekleme4" width="50%">
        
        </v-vertical-layout>
      
    </v-horizontal-layout>
    <v-vertical-layout _id="ekleme3" style-name="ekleme3">
        <v-button _id="guncelle" style-name="primary" width="45%">Güncelle</v-button>
    </v-vertical-layout>
</v-vertical-layout>
